DJANGO_ENV=production
DJANGO_DEBUG=0
DJANGO_SETTINGS_MODULE=cms.production
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=72.61.107.230
DJANGO_CSRF_TRUSTED_ORIGINS=http://72.61.107.230:8099,http://72.61.107.230
DJANGO_SSL_REDIRECT=0
DJANGO_COOKIE_SECURE=0
DJANGO_ADMIN_USERNAME=1
DJANGO_ADMIN_PASSWORD=change-me
DATABASE_URL=mysql://USER:PASSWORD@HOST:3306/NAME
MYSQL_DATABASE=cont_dba
MYSQL_USER=cont_dba
MYSQL_PASSWORD=change-me
MYSQL_HOST=service-condba-0mrxjk
MYSQL_PORT=3306
PORT=8000
WEB_CONCURRENCY=2
GUNICORN_TIMEOUT=60
